@include md {
  .vs-service-details {

    .py-60 {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .my-55 {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .mt-55 {
      margin-top: 25px;
    }

    .mb-60 {
      margin-bottom: 30px;
    }

    .pt-60 {
      padding-top: 30px;
    }

    .mt-60 {
      margin-top: 30px;
    }



  }
}