.quote-icon-style1 {
  color: $theme-color;
  position: relative;
  padding-bottom: 54px;
  margin-bottom: 45px;
  display: inline-block;
  line-height: 1;

  &:before {
    content: '';
    position: absolute;
    @include equal-size(75px);
    border-radius: 50%;
    background-color: $theme-color;
    z-index: -1;
    opacity: 0.20;
    top: -10px;
    right: -25px;
  }
  
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 4px;
    border-radius: 50%;
    width: 100px;
    margin-left: -50px;
    background-color: $theme-color;
    opacity: 0.30;
  }

  &.text-white {
    &:before,
    &:after {
      background-color: $white-color;
      opacity: 1;
    }
  }

  &.has-white-shape {

    &:after {
      background-color: #ffffff;
      opacity: 1;
    }

    &::before {
      background-color: $theme-color;
      opacity: 0.3;
    }
  }

}



.testimonial-avater-style1 {
  width: 100%;
  max-width: 250px;
  padding: 0 10px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  
  .author-img {
    @include equal-size(70px);
    padding: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 10px 28px 0px rgba(249, 163, 146, 0.3);
    margin: 0 2px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all ease 0.4s;

    
    img {
      border-radius: inherit;
    }

    
    &:not(.slick-center) {
      background-color: transparent;
      box-shadow: none;
      transform: scale(0.9);
      margin-top: 2px;
      transform-origin: 50% 50%;
    }
  }




}


.testimonial-border-line {
  margin-bottom: 35px;
  margin-top: 12px;
  position: relative;
  
  .border-css {
    width: calc(100% - 180px);
    height: 2px;
    margin: 0 auto;
    background-color: $smoke-color;
    display: block;
    
    &:after,
    &:before {
      content: '';
      position: absolute;
      width: 80px;
      top: 0;
      height: 2px;
      left: 50%;
      margin-left: -40px;
      background-color: $theme-color;
    }
  
    &:after {
      content: '';
      border-bottom: 2px solid $theme-color;
      border-left: 2px solid $theme-color;
      width: 20px;
      height: 20px;
      margin-left: -12px;
      background-color: #fff;
      margin-top: -9px;
      transform: rotate(-45deg);
    }
  }

}


.testimonial-avater-style2 {

  &.slick-slider,
  .slick-track,
  .slick-list {
    overflow: visible;
    position: static;
    transform: none !important;
  }

  .author-img {
    position: absolute;
    width: 110px;
    height: 110px;
    display: inline-block;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;

    img {
      border-radius: 50%;
    }
  }

  .slick-slide {
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.4s;
    z-index: 3;
    @extend .ani-moving;
    --moving-ani-duration: 14s;

    &:nth-child(1) {
      top: 140px;
      left: 11%;
      opacity: 1;
      visibility: visible;
      animation-delay: 5s;
    }

    &:nth-child(2) {
      width: 80px;
      height: 80px;
      top: auto;
      bottom: 120px;
      left: 17%;
      opacity: 1;
      visibility: visible;
    }
    
    &:nth-child(3) {
      width: 100px;
      height: 100px;
      left: auto;
      right: 12%;
      top: 15%;
      opacity: 1;
      visibility: visible;
      animation-delay: 7s;
    }
    
    &:nth-child(4) {
      width: 80px;
      height: 80px;
      top: 50%;
      margin-top: -40px;
      left: auto;
      right: 15%;
      opacity: 1;
      visibility: visible;
      animation-delay: 4s;
    }
    
    &:nth-child(5) {
      width: 100px;
      height: 100px;
      top: auto;
      bottom: 65px;
      left: auto;
      right: 4%;
      opacity: 1;
      visibility: visible;
      animation-delay: 8s;
    }
  }

}


@include md {
  .quote-icon-style1 {
    padding-bottom: 30px;
    margin-bottom: 25px;
    font-size: 3em;
    &:before {
      width: 50px;
      height: 50px;
      top: -3px;
      right: -25px;
    }
  }

  .testimonial-border-line {
    margin-bottom: 25px;
    margin-top: 0;
  }

}


@include xl {
  .testimonial-avater-style2{
     .slick-slide{
      &:nth-child(2) {
        bottom: 4%;
        left: 5%;
      }
       &:nth-child(3) {
         right: 4%;
         top: 8%;
       }
       &:nth-child(4) {
         right: 1%;
       }
     }
  }
}


@include md {
  .testimonial-border-line {
    margin-bottom: 0;
    margin-top: 0;
  }
}