.footer-widget {
  &,
  .widget {
    padding: 0;
    border: none;
    padding-bottom: 0;
    background-color: transparent;
  }

  .widget_title {
    border-left: none;
    padding-left: 0;
    font-size: 30px;
    font-family: $title-font;
  }

  .widget_meta,
  .widget_pages,
  .widget_archive,
  .widget_categories,
  .widget_nav_menu {
    margin-bottom: 20px;

    .widget_title {
      margin-bottom: 25px;
    }

    li {
      >span {
        @include equal-size(auto);
        position: relative;
        background-color: transparent;
        color: $body-color;
        line-height: 1;
      }
    }
    
    a {
      background-color: transparent;
      padding: 0;
      position: relative;
      margin-bottom: 3px;
      display: inline-block;

      &:hover {
        background-color: transparent;
      }

      &:before {
        content: '\f101';
        font-family: $icon-font;
        margin-right: 10px;
      }
    }

  }

  .widget_nav_menu {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .widget .vs-widget-about-author {
    .author-img {
      @include equal-size(100px);
      margin-left: 0;
    }
  }

  .vs-widget-recent-post {
    .media-img {
      border-radius: 0;
    }

    span {
      margin-top: 0;
      margin-bottom: 3px;
    }
  }

}

.contact-info-style1 {
  margin-bottom: 10px;

  a {
    color: inherit;
  }

  >i {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid;
  }

  &.text-white {
    >i {
      border-color: rgba($color: #fff, $alpha: 0.60);
    }
  }
}




@include md {
  .footer-widget {
    &.pt-100 {
      padding-top: 60px;
    }

    &.pb-70 {
      padding-bottom: 30px;
    }
  }
}