.widget {
  .vs-widget-about-author {
    .author-img {
      @include equal-size(140px);
      border-radius: 50%;
      overflow: hidden;
    }

    img {
      width: 100%;
      border-radius: inherit;
    }

    .social-links {
      a {
        font-size: 18px;
      }
    }
  }
}